.secondary-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 164px;
    border-radius: 6px;
    cursor: pointer;
    color: #FF00F5;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.secondary-button a:hover {
    color: #ff46f9;
}
