.cryptos-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
}

.cryptos-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    height: 44px;
    width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(29,29,29,0.1) 0%, rgba(29,29,29,0.05) 50%, rgba(29,29,29,0.1) 100%);
    transition: 0.3s;
}

.cryptos-search input {
    margin-left: 5px;
    width: 80%;
    height: 50%;
    line-height: normal;
    padding: 0 10px;
    border: none;
    background: none;
    font-size: 16px;
    color: #DACDEB;
    border-right: 1px solid #dacdeb23;
}

.cryptos-search input:focus {
    outline: none;
}

.cryptos-search input::placeholder {
    color: #dacdeba6;
}

.cryptos-search:hover {
    border: 1px solid #dacdeb5b;
}

.search-icon {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 5px;
    color: #DACDEB;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-left: 2px;
    cursor: pointer;
}

.cryptos-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-button-container {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 50px;
}

.page-button-container div{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;

    font-weight: 600;

    border: 1px solid #dacdeb41;
    border-radius: 5px;

    background: linear-gradient(15deg, rgba(122, 44, 138, 0.3) 0%, rgba(28,28,28,0.5) 60%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-button-container button{
    background-color: rgba(255, 255, 255, 0);
    border: none;

    color: #655f6d;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;

    height: 100%;
    display: flex;
    align-items: center;

    margin-top: 2px;
}

.page-button-container button:hover{
    color: rgb(212, 183, 245);
}